[Unit]
Description=Modmail

[Service]
User=root
WorkingDirectory=/usr/local/src/modmail
ExecStart=python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target
